---
http_interactions:
- request:
    method: post
    uri: https://oauth2.googleapis.com/token
    body:
      encoding: ASCII-8BIT
      string: grant_type=refresh_token&refresh_token=1%2FH-Rvv1DOzIB0SgqvvYyeWMKlixxxxxxxxxxxxxxxxxx&client_id=000000000000-9kujkkjik20v9phimadqpegr4oq4faqs.apps.googleusercontent.com&client_secret=0gdQ9mxxxxxxxxxxxxxxxxxx
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "access_token": "ya29.ImCUB9Bdxpxxxxxxxxxx-CI9gklVZF4VLOtDfn_L97tceaBJHDfGOauazR5TSQq9O0WXxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-MHGHtYcOxoBxxxxxxxxx",
          "expires_in": 3600,
          "scope": "https://www.googleapis.com/auth/calendar.events",
          "token_type": "Bearer"
        }
  recorded_at: Mon, 07 Oct 2019 07:20:55 GMT
- request:
    method: delete
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events/foobar?sendNotifications=false&sendUpdates=none
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.ImCUB9Bdxpxxxxxxxxxx-CI9gklVZF4VLOtDfn_L97tceaBJHDfGOauazR5TSQq9O0WXxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-MHGHtYcOxoBxxxxxxxxx
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "error": {
          "errors": [
           {
            "domain": "global",
            "reason": "notFound",
            "message": "Not Found"
           }
          ],
          "code": 404,
          "message": "Not Found"
         }
        }
  recorded_at: Mon, 07 Oct 2019 07:20:55 GMT
recorded_with: VCR 5.0.0
