---
http_interactions:
- request:
    method: post
    uri: https://www.googleapis.com/calendar/v3/calendars/primary/events
    body:
      encoding: UTF-8
      string: '{"description":"イベント作成のテストの内容記述箇所","end":{"dateTime":"2019-08-29T14:50:00+09:00","timeZone":"Asia/Tokyo"},"location":"Yokohama
        Sta.","start":{"dateTime":"2019-08-29T14:00:00+09:00","timeZone":"Asia/Tokyo"},"summary":"イベント作成のテスト"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer xxxx.xxxxxxxxxxxxxxxxxxxxxxxxxx_xxxxxxxxxxxxxxxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx-xxxxxxxxxxxxxx
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"3134134271514000"'
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "calendar#event",
         "etag": "\"3134134271514000\"",
         "id": "c45kq4hn8nf0vbbg0ah3dklehk",
         "status": "confirmed",
         "htmlLink": "https://www.google.com/calendar/event?eid=YzQ1a3E0aG44bmYwdmJiZzBhaDNka2xlaGsgaW5ub2NlbnQuemVyb0Bt",
         "created": "2019-08-29T08:25:35.000Z",
         "updated": "2019-08-29T08:25:35.757Z",
         "summary": "イベント作成のテスト",
         "description": "イベント作成のテストの内容記述箇所",
         "location": "Yokohama Sta.",
         "creator": {
          "email": "example@example.com",
          "self": true
         },
         "organizer": {
          "email": "example@example.com",
          "self": true
         },
         "start": {
          "dateTime": "2019-08-29T14:00:00+09:00",
          "timeZone": "Asia/Tokyo"
         },
         "end": {
          "dateTime": "2019-08-29T14:50:00+09:00",
          "timeZone": "Asia/Tokyo"
         },
         "iCalUID": "xxxxxxxxxxxxxxxxxxxxxxxxxx@google.com",
         "sequence": 0,
         "reminders": {
          "useDefault": true
         }
        }
  recorded_at: Thu, 29 Aug 2019 08:25:36 GMT
recorded_with: VCR 5.0.0
